body{
    background-color: rgba(3, 30, 88, 0.507);
    text-align: center;
}


h1{

}

button{
    border-radius: 5px;
    background-color: rgb(88, 10, 107);
    color: rgb(200, 191, 191);
    height: 40px;
    width:140px;
    font-weight: bold;
    font-size: medium;

}